<div class="container py-5">
    <h2 class="text-center mb-4">Bienvenido a tu Panel de Doctores</h2>
  
    <!-- Citas actuales -->
    <div class="card mb-5 shadow-sm">
      <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Lista de Personal Médico</h5>
      </div>
      <div class="card-body" *ngIf="userService.users().length > 0; else noCitas">
          @if(userService.loading()){
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td colspan="4" class="px-6 py-4 text-center text-gray-500">
                      Loading...
                  </td>
              </tr>
        }
        
        @if(!userService.loading() && !userService.error()){
          <p-dataview [value]="userService.users()">
              <ng-template let-items #list>
                <div class="row">
                  <div class="col-12 mb-3" *ngFor="let user of items">
                    <div class="d-flex justify-content-around align-items-center p-3 border rounded shadow-sm">
                      <div><strong>Nombre:</strong> {{ user.name }}</div>
                      <div><strong>Email:</strong> {{ user.email }}</div>
                      <div><strong>Especialidad:</strong> {{ user.specialtyName }}</div>
                      <p-tag 
                        [value]="user.isActive ? 'Activo' : 'Inactivo'" 
                        [severity]="user.isActive ? 'info' : 'danger'">
                      </p-tag>
                      <div>
                        <p-button *ngIf="user.isActive" icon="pi pi-trash" aria-label="Delete" (onClick)="delete(user.id)"></p-button>
                        <p-button  *ngIf="!user.isActive" icon="pi pi-refresh" aria-label="Activate" (onClick)="activate(user.id)"></p-button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
          </p-dataview>
        }


      </div>
      <ng-template #noCitas>
        <div class="card-body">
          <p class="text-muted">Sin médicos registrados.</p>
        </div>
      </ng-template>
    </div>
  
</div>