//Tipografía
// $fuente_principal: "Montserrat", sant-serif;

// Colores
$negro: #000000;
$blanco: #FFFFFF;

$rojo_oscuro:#9F2241;
$rojo_oscuro_borde:#ff0000;

$rojo_claro: #ca3774;
$rojo_claro_borde: #ff0062;

//Tamaños para media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;